In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./KC_495_LLR_ATRCTN_2022.csv")
data.head(5)

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCLANPO22N000000001,장소,관광지,817379,운문호,NaN,NaN,110208,대형호수/저수지,NaN,...,NaN,NaN,NaN,128.932090,35.729306,마마295490,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809
1,KCLANPO22N000000002,장소,관광지,5497426,유마사,NaN,NaN,180301,유명사찰,4.679040e+18,...,4.679030e+11,유마로,603,127.171274,35.018297,다라700693,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809
2,KCLANPO22N000000003,장소,관광지,5497607,안정사,NaN,NaN,180301,유명사찰,4.822030e+18,...,4.822050e+11,안정1길,363,128.395593,34.943969,라라817613,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809
3,KCLANPO22N000000004,장소,관광지,5545868,염불암,NaN,NaN,180301,유명사찰,4.117110e+18,...,4.117140e+11,예술공원로245번길,150,126.934391,37.428729,다사499367,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809
4,KCLANPO22N000000005,장소,관광지,332239,귀신사,NaN,NaN,180301,유명사찰,4.521050e+18,...,4.521050e+11,청도6길,40,127.046958,35.745312,다마590499,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37967 entries, 0 to 37966
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            37967 non-null  object
 1   LCLAS_NM      37967 non-null  object
 2   MLSFC_NM      37967 non-null  object
 3   POI_ID        37967 non-null  int64
 4   POI_NM        37967 non-null  object
 5   BHF_NM        576 non-null    object
 6   ASSTN_NM      0 non-null      float64
 7   CL_CD         37967 non-null  int64
 8   CL_NM         37967 non-null  object
 9   PNU           37328 non-null  float64
 10  CTPRVN_NM     37967 non-null  object
 11  SIGNGU_NM     37809 non-null  object
 12  LEGALDONG_NM  37967 non-null  object
 13  LI_NM         26548 non-null  object
 14  LNBR_NO       37328 non-null  object
 15  LEGALDONG_CD  37967 non-null  int64
 16  ADSTRD_CD     37967 non-null  int64
 17  RDNMADR_CD    19431 non-null  float64
 18  RDNMADR_NM    19454 non-null  object
 19  BULD_NO       19454 non-null  object
 20  LC_LO         37967 non-null  float64
 21  LC_LA         37967 non-null  float64
 22  GID_CD        37967 non-null  object
 23  LAST_CHG_DE   37967 non-null  int64
 24  ORIGIN_NM     37967 non-null  object
 25  FILE_NM       37967 non-null  object
 26  BASE_DE       37967 non-null  int64
dtypes: float64(5), int64(6), object(16)
memory usage: 7.8+ MB

In [4]:
data["place_name"] = data["POI_NM"].str.cat(data["BHF_NM"], sep=" ", na_rep=" ") # 장소명과 지점명 결합

data = data.drop([
    "LCLAS_NM", "MLSFC_NM", "ASSTN_NM", "LAST_CHG_DE", "ORIGIN_NM", "FILE_NM", "BASE_DE", # unique값이 1개
    "POI_ID", "CL_CD", "GID_CD",
    "SIGNGU_NM", "POI_NM", "BHF_NM", # 장소 이름 관련
    "PNU", "LEGALDONG_CD", "LEGALDONG_NM", "LI_NM", "LNBR_NO", # 번지 주소 관련
    "ADSTRD_CD", "RDNMADR_CD", "RDNMADR_NM", "BULD_NO" # 도로명 주소 관련
], axis=1)
data.head(5)

                    ID     CL_NM CTPRVN_NM       LC_LO      LC_LA place_name
0  KCLANPO22N000000001  대형호수/저수지      경상북도  128.932090  35.729306      운문호
1  KCLANPO22N000000002      유명사찰      전라남도  127.171274  35.018297      유마사
2  KCLANPO22N000000003      유명사찰      경상남도  128.395593  34.943969      안정사
3  KCLANPO22N000000004      유명사찰       경기도  126.934391  37.428729      염불암
4  KCLANPO22N000000005      유명사찰      전라북도  127.046958  35.745312      귀신사

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37967 entries, 0 to 37966
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          37967 non-null  object
 1   CL_NM       37967 non-null  object
 2   CTPRVN_NM   37967 non-null  object
 3   LC_LO       37967 non-null  float64
 4   LC_LA       37967 non-null  float64
 5   place_name  37967 non-null  object
dtypes: float64(2), object(4)
memory usage: 1.7+ MB

In [6]:
data["CL_NM"].value_counts()

지역호수/저수지        12658
지역사찰            11209
일반관광지            2573
지역축제             2549
토속/특산물/기념품매장     1988
먹거리/패션거리         1401
폭포/계곡             955
관광농원/허브마을         931
서원/향교/서당          858
휴양림/수목원           557
해수욕장              549
일반유원지/일반놀이공원      445
유명사찰              395
유명관광지             310
테마공원/대형놀이공원       268
식물원               146
대형호수/저수지           47
동물원                44
숲                  39
아쿠아리움/대형수족관        29
카지노                 9
파라다이스카지노            4
세븐럭카지노              3
Name: CL_NM, dtype: int64

In [7]:
data = data[~(data["CL_NM"].str.contains("카지노")) & (data["CL_NM"]!="지역축제")] # 카지노, 지역축제 제거

data.replace({
    "대형호수/저수지": "호수/저수지",
    "지역호수/저수지": "호수/저수지",
    "숲": "휴양림/수목원",
    "아쿠아리움/대형수족관": "수족관",
    "일반유원지/일반놀이공원": "놀이공원",
    "테마공원/대형놀이공원": "놀이공원",
    "유명사찰": "사찰",
    "지역사찰": "사찰",
    "일반관광지": "지역관광지",
    "유명관광지": "지역관광지",
    "토속/특산물/기념품매장": "지역상권",
    "먹거리/패션거리": "지역상권"
}, inplace=True) # 카테고리 정리

In [8]:
data["CL_NM"].value_counts()

호수/저수지       12705
사찰           11604
지역상권          3389
지역관광지         2883
폭포/계곡          955
관광농원/허브마을      931
서원/향교/서당       858
놀이공원           713
휴양림/수목원        596
해수욕장           549
식물원            146
동물원             44
수족관             29
Name: CL_NM, dtype: int64

In [9]:
category_dict = {
    "호수/저수지": "자연경관",
    "폭포/계곡": "자연경관",
    "휴양림/수목원": "자연경관",
    "관광농원/허브마을": "자연경관",
    "해수욕장": "자연경관",
    "식물원": "테마공원",
    "동물원": "테마공원",
    "수족관": "테마공원",
    "놀이공원": "테마공원",
    "사찰": "문화재",
    "서원/향교/서당": "문화재",
    "지역관광지": "관광지",
    "지역상권": "관광지"
}

data["category"] = data.apply(lambda x: category_dict[x["CL_NM"]], axis=1)

In [10]:
category_df = pd.DataFrame(data["category"].unique())
category_df["category_id"] = [f"CT{i+1}" for i in range(len(category_df))]
category_df = category_df[["category_id", 0]]
category_df.columns = ["category_id", "category_name"]
category_df

  category_id category_name
0         CT1          자연경관
1         CT2           문화재
2         CT3          테마공원
3         CT4           관광지

In [11]:
category_id_dict = {
    "자연경관": "CT1",
    "문화재": "CT2",
    "테마공원": "CT3",
    "관광지": "CT4"
}

data["category"] = data.apply(lambda x: category_id_dict[x["category"]], axis=1)

In [12]:
data

,ID,CL_NM,CTPRVN_NM,LC_LO,LC_LA,place_name,category
0,KCLANPO22N000000001,호수/저수지,경상북도,128.932090,35.729306,운문호,CT1
1,KCLANPO22N000000002,사찰,전라남도,127.171274,35.018297,유마사,CT2
2,KCLANPO22N000000003,사찰,경상남도,128.395593,34.943969,안정사,CT2
3,KCLANPO22N000000004,사찰,경기도,126.934391,37.428729,염불암,CT2
4,KCLANPO22N000000005,사찰,전라북도,127.046958,35.745312,귀신사,CT2
...,...,...,...,...,...,...,...
37962,KCLANPO22N000037963,지역상권,충청북도,127.490279,36.639754,새한항업,CT4
37963,KCLANPO22N000037964,놀이공원,경상남도,128.073942,35.554817,합천정원테마파크청와대,CT3
37964,KCLANPO22N000037965,놀이공원,전라남도,127.651186,34.741940,소호해변공원,CT3
37965,KCLANPO22N000037966,놀이공원,경상북도,128.873494,35.949442,렛츠런파크(2023년1월예정),CT3
37966,KCLANPO22N000037967,놀이공원,전라북도,127.299785,36.070461,금당유원지,CT3

In [13]:
data.columns = ["id", "detail", "region", "lng", "lat", "place", "category_id"]
data.head()

,id,detail,region,lng,lat,place,category_id
0,KCLANPO22N000000001,호수/저수지,경상북도,128.932090,35.729306,운문호,CT1
1,KCLANPO22N000000002,사찰,전라남도,127.171274,35.018297,유마사,CT2
2,KCLANPO22N000000003,사찰,경상남도,128.395593,34.943969,안정사,CT2
3,KCLANPO22N000000004,사찰,경기도,126.934391,37.428729,염불암,CT2
4,KCLANPO22N000000005,사찰,전라북도,127.046958,35.745312,귀신사,CT2

In [14]:
data = data[["id", "category_id", "detail", "lat", "lng", "place", "region"]]
data.head()

,id,category_id,detail,lat,lng,place,region
0,KCLANPO22N000000001,CT1,호수/저수지,35.729306,128.932090,운문호,경상북도
1,KCLANPO22N000000002,CT2,사찰,35.018297,127.171274,유마사,전라남도
2,KCLANPO22N000000003,CT2,사찰,34.943969,128.395593,안정사,경상남도
3,KCLANPO22N000000004,CT2,사찰,37.428729,126.934391,염불암,경기도
4,KCLANPO22N000000005,CT2,사찰,35.745312,127.046958,귀신사,전라북도

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35402 entries, 0 to 37966
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           35402 non-null  object
 1   category_id  35402 non-null  object
 2   detail       35402 non-null  object
 3   lat          35402 non-null  float64
 4   lng          35402 non-null  float64
 5   place        35402 non-null  object
 6   region       35402 non-null  object
dtypes: float64(2), object(5)
memory usage: 2.2+ MB

In [16]:
data.to_csv("tptp.csv", index=False, encoding="utf-8")

In [17]:
category_df.to_csv("category.csv", index=False, encoding="utf-8")

# 주소열 추가

In [18]:
import pymysql
import pandas as pd

In [19]:
connect = pymysql.connect(
    host='localhost', 
    user='root', 
    password='1234',
    db='newdealdb', 
    charset='utf8'
)
 
cursor = connect.cursor()
sql = "SELECT id FROM tptp"
cursor.execute(sql)
 
rows = cursor.fetchall()
print(len(rows))

35402

In [20]:
data = pd.read_csv("./KC_495_LLR_ATRCTN_2022.csv")
data["address"] = data["CTPRVN_NM"].str.cat(data[["SIGNGU_NM", "LEGALDONG_NM", "RDNMADR_NM", "BULD_NO"]], sep=" ", na_rep=" ")

In [21]:
df_address = data[["ID", "address"]].set_index("ID")
len(df_address)

37967

In [22]:
items = []
for row in rows:
    items.append((df_address.loc[row[0], "address"].strip(), row[0]))

In [23]:
sql_file = []

for add, idx in items:
    sql = f"UPDATE tptp SET address = '{add}' WHERE `id` = '{idx}';\n"
    sql_file.append(sql)

print(len(sql_file))

with open("./230712-update address.sql", "w") as f:
    f.writelines(sql_file)

35402

In [24]:
import pymysql

connect = pymysql.connect(
    host='192.168.0.132', 
    user='newdeal', 
    password='newdealtptp',
    db='newdealdb', 
    charset='utf8'
)

cursor = connect.cursor()
sql = "SELECT id FROM tptp"
cursor.execute(sql)
 
rows = cursor.fetchall()
print(len(rows))

35402

In [36]:
import pandas as pd
data = pd.read_csv("./KC_495_LLR_ATRCTN_2022.csv")

In [19]:
data[data["BULD_NO"].str.contains("-", na=False)]

                        ID  BULD_NO
6      KCLANPO22N000000007    43-17
23     KCLANPO22N000000024     1-38
30     KCLANPO22N000000031   269-74
34     KCLANPO22N000000035    41-15
35     KCLANPO22N000000036    233-7
...                    ...      ...
37934  KCLANPO22N000037935  1516-10
37935  KCLANPO22N000037936   330-20
37940  KCLANPO22N000037941   116-13
37946  KCLANPO22N000037947   Jan-86
37948  KCLANPO22N000037949   Jun-32

[6291 rows x 2 columns]

In [40]:
temp1 = data[data["BULD_NO"].str.contains("월", na=False)]
temp1["BULD_NO"] = temp1["BULD_NO"].apply(lambda x: f"{int(x.split('월')[0])}-{int(x.split('월')[1].split('일')[0])}")
temp1["address"] = temp1["CTPRVN_NM"].str.cat(temp1[["SIGNGU_NM", "LEGALDONG_NM", "RDNMADR_NM", "BULD_NO"]], sep=" ", na_rep=" ")
temp1.head()

C:\Users\ParkMinjeong\AppData\Local\Temp\ipykernel_12056\2351326971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp1["BULD_NO"] = temp1["BULD_NO"].apply(lambda x: f"{int(x.split('월')[0])}-{int(x.split('월')[1].split('일')[0])}")
C:\Users\ParkMinjeong\AppData\Local\Temp\ipykernel_12056\2351326971.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp1["address"] = temp1["CTPRVN_NM"].str.cat(temp1[["SIGNGU_NM", "LEGALDONG_NM", "RDNMADR_NM", "BULD_NO"]], sep=" ", na_rep=" ")

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE,address
33,KCLANPO22N000000034,장소,관광지,5843019,성불사,NaN,NaN,180302,지역사찰,4.713010e+18,...,포석정안길,4-1,129.213452,35.807849,마마548581,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809,경상북도 경주시 배동 포석정안길 4-1
40,KCLANPO22N000000041,장소,관광지,5851799,인월사,NaN,NaN,180302,지역사찰,4.215010e+18,...,경포로463번안길,12-21,128.900632,37.800983,마사233788,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809,강원도 강릉시 저동 경포로463번안길 12-21
46,KCLANPO22N000000047,장소,관광지,10207960,청량사,NaN,NaN,180302,지역사찰,1.123010e+18,...,제기로31길,10-3,127.047777,37.588221,다사600544,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809,서울특별시 동대문구 청량리동 제기로31길 10-3
57,KCLANPO22N000000058,장소,관광지,11409698,충효사,NaN,NaN,180302,지역사찰,4.679040e+18,...,벽동길,9-13,126.888831,34.955014,다라441624,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809,전라남도 화순군 도암면 벽동길 9-13
72,KCLANPO22N000000073,장소,관광지,14482220,금선사,NaN,NaN,180302,지역사찰,2.920010e+18,...,송정공원로,8-23,126.799579,35.145980,다라361836,20220809,KT,KC_495_LLR_ATRCTN_2022,20220809,광주광역시 광산구 소촌동 송정공원로 8-23

In [45]:
data = [(
    temp1.loc[i, "address"], 
    temp1.loc[i, "ID"]
) for i in temp1.index]

sql = """
UPDATE tptp 
SET address=%s 
WHERE id=%s;
"""

cursor.executemany(sql, data)

connect.commit()